h1{
    color: blue;
    background-color: azure;
    text-align: center;
    text-transform: uppercase;
}
.areaBonita {
    border: 1px;
    border-radius: 10%;
    background-color: #d4d9e0;
    color: rgb(103, 112, 121);
    height: 50px;
    width: 250px;
    font-size: 22px;
}
label{
    padding-right: 10px;
}